# ==============================================
# Common SEPolicy Rule
# ==============================================

type tll_device, dev_type;
type mcupm_device, dev_type;
type alarm_device, dev_type;
