# ==============================================
# Common SEPolicy Rule
# ==============================================

type mtd_device, dev_type;
type alarm_device, dev_type;
