# ==============================================
# Common SEPolicy Rule
# ==============================================
# Policy File of /system/bin/magt Executable File

type magt, domain;
